@using UCLStudievejlederApp.Models.Formular
@model MyFormularsModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/midler.css" asp-append-version="true" />
</head>
<div class="top-box">

    <div class="yellow-box">
        <p>Oprettelsesdato</p>
    </div>

    <div class="view-results">
        <p>Viser 30 ud af 123 resultater</p>

    </div>
</div>

<table class="user-edit formular-header" cellspacing="0" cellpadding="0">
    <tr>
        <th>Måned<span class="arrow up"></span></th>
        <th>Type<span class="arrow up"></span></th>
        <th>Samtaletid<span class="arrow up"></span></th>
        <th>Hvem?<span class="arrow up"></span></th>
        <th>Status<span class="arrow up"></span></th>
        <th>Institution<span class="arrow up"></span></th>
        <th>Studieretning<span class="arrow up"></span></th>
        <th>Emne/Kategori<span class="arrow up"></span></th>
    </tr>
    <!-- Skal gentages for hver udfyld formular -->
    @foreach(FormularListItemModel listItem in Model.Formulars) 
    {
        <tr>
            <th>@listItem.Month</th>
            <th>@listItem.TypeOfEnquiry</th>
            <th>@listItem.ConversationTime</th>
            <th>@listItem.WhoWereGuided</th>
            <th>@listItem.Level</th>
            <th>@listItem.ChoosePrimaryInstitution</th>
            <th>@listItem.ChooseAllFieldsOfStudies</th>
            <th>@listItem.SubjectCategory</th>
        </tr>
    }
</table>



