@using UCLStudievejlederApp.Models.Formular
@using UCLStudievejlederApp.Models.Generic
@using static DatabaseAccess.Question.AnswerOptionDb
@using static DatabaseAccess.Question.QuestionDb

@model FormularViewModel

<h1>Registrér henvendelse</h1>
<p class="page-description">Her kan du registrere en ny henvendelse</p>
@{
    int currentMonth = DateTime.Now.Month;
}
<form asp-controller="Formular" asp-action="PostFormular" method="post">
<div class="form-wrapper">
    @foreach(Question question in Model.Questions){
        int indexOfQuestion = Model.Questions.IndexOf(question);

        <div class="question-container">
            <div class="form-title"><img src="" alt="" />@question.QuestionString  <span class="inquiry-result-title"></span></div>

            <div class="form-drop-style">
                <div class="answer-options">
                    @if (question.QuestionTypeId == 1) {
                            List<SelectListItem> items = new List<SelectListItem>();
                            @foreach (var option in Model.Questions[indexOfQuestion].AnswerOptions)
                            {
                                int answerIndex = Model.Questions[indexOfQuestion].AnswerOptions.IndexOf(option);

                                @Html.HiddenFor(m => m.Questions[indexOfQuestion].AnswerOptions[answerIndex].AnswerOptionId)
                                @Html.HiddenFor(m => m.Questions[indexOfQuestion].AnswerOptions[answerIndex].QuestionId)
                                items.Add(new SelectListItem { Text = option.AnswerOptionString, Value = option.AnswerOptionString, Selected = option.IsSelected });
                            }
                            SelectList selectList = new SelectList(items, "Value", "Text", items[currentMonth].Value);


                            @Html.DropDownListFor(m => Model.Questions[indexOfQuestion].DropdownChosenOption, selectList, "Vælg måned", new { @class = "select-dropdown" })
                    }

                    @if (question.QuestionTypeId == 2)
                    {
                        <div class="search-input-container">
                            <input type="text" placeholder="Søg...">
                        </div>
                    }

                    @foreach (var AnswerOption in question.AnswerOptions)
                    {
                        int answerIndex = question.AnswerOptions.IndexOf(AnswerOption);

                        @Html.HiddenFor(m => m.Questions[indexOfQuestion].AnswerOptions[answerIndex].AnswerOptionId)
                        @Html.HiddenFor(m => m.Questions[indexOfQuestion].AnswerOptions[answerIndex].QuestionId)

                        @if (question.QuestionTypeId == 3)
                        {
                            <div class="radio-button-container">
                                <label class="label-form" onclick="goToNext(@indexOfQuestion+1)">
                                @Html.RadioButtonFor(m => Model.Questions[indexOfQuestion].SingleChosenOption, AnswerOption.AnswerOptionId, new { @class="checkbox-form ucl-radiobtn" })@AnswerOption.AnswerOptionString
                                </label>
                            </div>
                        }

                        @if (question.QuestionTypeId == 2)
                        {
                            @if(AnswerOption.IsFavorite) {
                                <div style="background-color: red;" class="radio-button-container">
                                    <label class="label-form">
                                        @Html.CheckBoxFor(m => Model.Questions[indexOfQuestion].AnswerOptions[answerIndex].IsSelected, new { @class="checkbox-form" })
                                        @AnswerOption.AnswerOptionString
                                    </label>
                                </div>
                            } else {
                                <div class="radio-button-container">
                                    <label class="label-form">
                                        @Html.CheckBoxFor(m => Model.Questions[indexOfQuestion].AnswerOptions[answerIndex].IsSelected, new { @class="checkbox-form" })
                                        @AnswerOption.AnswerOptionString
                                    </label>
                                </div>
                            }
                        }
                    }

                </div>
            </div>
        </div>
    }
</div><!-- FROM WRAPPER -->

<div class="form-submit">
    <button type="submit" value="Submit">Indsend</button>
</div><!-- FORM SUBMIT -->
</form>
<script src="~/js/inquiries.js"></script>