@using UCLStudievejlederApp.Models.Formular
@using UCLStudievejlederApp.Models.Generic
@using static DatabaseAccess.Question.AnswerOptionDb
@using static DatabaseAccess.Question.QuestionDb

@model FormularViewModel

<h1>Registrér henvendelse</h1>
<p class="page-description">Her kan du registrere en ny henvendelse</p>

<div class="form-wrapper">
    @foreach(Question question in Model.Questions){
        int indexOfQuestion = Model.Questions.IndexOf(question);

        <div class="question-container">
            <button class="form-title"><img src="" alt="" />@question.QuestionString</button>

            <div class="form-drop-style">
                <div class="answer-options">
                    @if (question.QuestionTypeId == 1)
                    {
                        <div class="radio-button-container">
                            <input type="month" value="2022-12" />
                        </div>
                    }

                    @foreach(AnswerOption answerOption in question.AnswerOptions) {
                        int indexOfAnswerOption = question.AnswerOptions.IndexOf(answerOption);
                        string name = question.QuestionString + indexOfAnswerOption;

                        <!-- Render as Multiple choice (Checkboxes) -->
                        @if (question.QuestionTypeId == 2)
                        {
                            <div class="radio-button-container">
                                <input  type="checkbox" id="@name" class="checkbox-form" name="@question.QuestionString" value="@answerOption.AnswerOptionId">
                                <label for="@name" class="label-form">@answerOption.AnswerOptionString</label>
                            </div>
                        }

                        <!-- Render as Single choice (Radio button) -->
                        @if (question.QuestionTypeId == 3)
                        {
                            <div class="radio-button-container">
                                <input onclick="goToNext(@indexOfQuestion+1)" type="radio" id="@name" class="checkbox-form" name="@question.QuestionString" value="@answerOption.AnswerOptionId">
                                <label for="@name" class="label-form">@answerOption.AnswerOptionString</label>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    }
</div><!-- FROM WRAPPER -->

<div class="form-submit">
    <button type="submit" value="Submit">Indsend</button>
</div><!-- FORM SUBMIT -->

<script src="~/js/inquiries.js"></script>