@model StatisticViewModel;

 <link rel="stylesheet" href="~/css/statistics.css" asp-append-version="true" /><div class="container pt-4">
 
        
      


 <div class="containerWrap">
     
    <div class="pages">
            <div class="page one">
            <section class="mb-4 w-100">
            <div class="card">
                <div class="card-header py-3">
                    <h1 class="mb-0 text-center stath1 h1Henvendelser"><strong>Henvendelser</strong></h1>
                     <div>
            <button onClick="slide('next')">Tidsforbrug</button>
        </div>
                </div>
                <div class="card-body">
                    <canvas class="my-4 w-100" id="myChart" height="500"></canvas>
                </div>
            </div>
        </section>
       
      </div>

            <div class="page two">
                <section class="mb-4 w-100">
            <div class="card">
                <div class="card-header py-3">
                    <h1 class="mb-0 text-center stath1 h1Tidsforbrug"><strong>Tidsforbrug</strong></h1>
                            <div>
                                <button onClick="slide('prev')">Henvendelser</button>
                            </div>
                </div>
            <div class="card-body">
                    <canvas class="my-4 w-100" id="myChart2" height="500"></canvas>
                </div>
            </div>
        </section>
        
      </div>
    </div>
  </div>



    



    <section class="mb-4">
        <div class="card">
            <div class="card-header text-center py-3">
                <h5 class="mb-0 text-center stath5">
                    <strong>Antal henvendelser per emne</strong>
                </h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Procent</th>
                                <th scope="col">Antal</th>
                              
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th scope="row">Administrative forhold</th>
                                <td>
                                    <span class="text-info">
                                        <span>-@Model.AdminSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.AdminSubFormularsNr</span>
                                    </span>
                                </td>
                                
                            </tr>


                            <tr>
                                <th scope="row">Barsel</th>
                                <td>
                                    <span class="text-info">
                                        <span>-@Model.BarselSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.BarselSubFormularsNr</span>
                                    </span>
                                </td>
                                
                            </tr>

                            <tr>
                                <th scope="row">Eksamen</th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.EksamenSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.EksamenSubFormularsNr</span>
                                    </span>
                                </td>
                                
                            </tr>

                            <tr>
                                <th scope="row">Fastholde trivsel</th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.TrivselSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.TrivselSubFormularsNr</span>
                                    </span>
                                </td>
                                
                            </tr>

                            <tr>
                                <th scope="row">Internationale muligheder</th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.InternationalSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.InternationalSubFormularsNr</span>
                                    </span>
                                </td>
                               
                            </tr>

                            <tr>
                                <th scope="row">Mistrivsel</th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.MistrivselSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.MistrivselSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Optagelsesvejledning </th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.OptVejSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.OptVejSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Ordensreglement </th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.OrdensrelSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.OrdensrelSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Orlov </th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.OrlovSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.OrlovSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Overflytning/genindskrivning </th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.OverflytGenindSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.OverflytGenindSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Personlige forhold</th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.PersonForhSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.PersonForhSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Praktik i DK</th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.PraktikSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.PraktikSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Ikke relevant henvendelse </th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.IkRelSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.IkRelSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">SPS </th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.SPSSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.SPSSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                           




                            <tr>
                                <th scope="row">Studieophør </th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.StudOphSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.StudOphSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Studieplanlægning </th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.StdPlanSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.StdPlanSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Studietvivl/studievalg</th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.StdTvivlSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.StdTvivlSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                             <tr>
                                <th scope="row">Studieudfordringer </th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.StdUdfSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.StdUdfSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Sygdom(egne) </th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.SygEgneSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.SygEgneSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Undervisningen (Samarbejdsvanskeligheder)</th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.UnvSamaVanSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.UnvSamaVanSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Økonomi</th>
                                <td>
                                    <span class="text-info">
                                        <span>@Model.OkonomiSubFormulars%</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="text-success ">
                                        <span>@Model.OkonomiSubFormularsNr</span>
                                    </span>
                                </td>
                            </tr>




                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
  


    <section>


        <div class="row">
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-info stath3">@Model.PhoneFormulars%</h3>
                                <p class="mb-0">Telefonisk hevendelse</p>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-phone text-info fa-3x"></i>
                            </div>
                        </div>
                        <div class="px-md-1">
                            <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                                <div class="progress-bar bg-info"
                                     role="progressbar"
                                     style="width: 48%"
                                     aria-valuenow="48"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-warning stath3">@Model.VirtuelleFormulars%</h3>
                                <p class="mb-0 statp">Virtuelle henvendelser</p>
                            </div>
                            <div class="align-self-center">
                                <i class="far fa-envelope text-warning fa-3x"></i>
                            </div>
                        </div>
                        <div class="px-md-1">
                            <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                                <div class="progress-bar bg-warning"
                                     role="progressbar"
                                     style="width: 22%"
                                     aria-valuenow="22"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-success stath3">@Model.PersonalFormulars%</h3>
                                <p class="mb-0">Personlige henvendelser</p>
                            </div>
                            <div class="align-self-center">
                                <i class="fas  fa-person text-success fa-3x"></i>
                            </div>
                        </div>
                        <div class="px-md-1">
                            <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width:30%"
                                     aria-valuenow="30"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </section>

    <section>
    </section>
 
    <section>


        <div class="row">
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-info stath3">@Model.TimeUseOneFormulars%</h3>
                                <p class="mb-0">Tidsforbrug</p>
                            </div>
                            <div class="align-self-center">
                                <img src="~/assets/images/1-20.png" alt="Tidsinterval 1-20min.">
                            </div>
                        </div>
                        <div class="px-md-1">
                            <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                                <div class="progress-bar bg-info"
                                     role="progressbar"
                                     style="width: 20%"
                                     aria-valuenow="20"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            
                        </div>
                        <p class="mb-0">Max timeforbrug = @Model.TimeUseOneCountFormulars Timer</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-warning stath3">@Model.TimeUseTwoFormulars%</h3>
                                <p class="mb-0 statp">Tidsforbrug</p>
                            </div>
                            <div class="align-self-center">
                                <img src="~/assets/images/21-40.png" alt="Tidsinterval 21-40min.">
                            </div>
                        </div>
                        <div class="px-md-1">
                            <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                                <div class="progress-bar bg-warning"
                                     role="progressbar"
                                     style="width: 50%"
                                     aria-valuenow="50"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <p class="mb-0">Max timeforbrug = @Model.TimeUseTwoCountFormulars Timer</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-success stath3">@Model.TimeUseThreeFormulars%</h3>
                                <p class="mb-0">Tidsforbrug</p>
                            </div>
                            <div class="align-self-center">
                                <img src="~/assets/images/41-60.png" alt="Tidsinterval 41-60min.">
                            </div>
                        </div>
                        <div class="px-md-1">
                            <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 30%"
                                     aria-valuenow="30"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <p class="mb-0">Max timeforbrug = @Model.TimeUseThreeCountFormulars Timer</p>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <section>

        <div class="row">

            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <h2 class="h1 mb-0 me-4">@Model.amountOfFredericiaFormulars%</h2>
                                </div>
                                <div>
                                <h4 class="stath4">UCL Fredericia</h4>
                                <p class="mb-0">Antal samtaler i år</p>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <img src="~/assets/images/UCLLogoFredericia.png" alt="UCL Fredericia logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <h2 class="h1 mb-0 me-4 stath2">@Model.amountOfSvendborgFormulars%</h2>
                                </div>
                                <div>
                                <h4>UCL Svendborg</h4>
                                <p class="mb-0 statp">Antal samtaler i år</p>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <img src="~/assets/images/UCLLogoSvandborg.png" alt="UCL Svendborg logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <h2 class="h1 mb-0 me-4">@Model.amountOfJellingFormulars%</h2>
                                </div>
                                <div>
                                    <h4 class="stath4">UCL Jelling</h4>
                                <p class="mb-0">Antal samtaler i år</p>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <img src="~/assets/images/UCLLogoJelling.png" alt="UCL Jelling logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <h2 class="h1 mb-0 me-4 stath2">@Model.amountOfVejleFormulars%</h2>
                                </div>
                                <div>
                                    <h4>UCL Vejle </h4>
                                <p class="mb-0 statp">Antal Samtaler i år</p>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <img src="~/assets/images/UCLLogoVejle.png" alt="UCL Vejle logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <h2 class="h1 mb-0 me-4">@Model.amountOfOdenseFormulars%</h2>
                                </div>
                                <div>
                                    <h4 class="stath4">UCL Odense</h4>
                                <p class="mb-0">Antal Samtaler i år</p>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <img src="~/assets/images/UCLLogoOdense.png" alt="UCL Odense logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <h2 class="h1 mb-0 me-4 stath2">@Model.AllFormulars</h2>
                                </div>
                                <div>
                                    <h4>Hele UCL</h4>
                                <p class="mb-0 statp">Total Antal Samtaler i år</p>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <img src="~/assets/images/UCLLogoAlleAfdelinger.png" alt="UCL logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
      rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
    const pages = document.querySelectorAll(".page");
        const translateAmount = 100;
        let translate = 0;

        slide = (direction) => {

          direction === "next" ? translate -= translateAmount : translate += translateAmount;

          pages.forEach(
            pages => (pages.style.transform = `translateX(${translate}%)`)
          );
        }
</script>

<script>// Graph
    var ctx = document.getElementById("myChart");

    var myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [
                "Januar",
                "feburar",
                "Marts",
                "April",
                "Maj",
                "Juni",
                "Juli",
                "August",
                "September",
                "Oktober",
                "November",
                "December",
            ],
            datasets: [
                {
                    data: [835, 1548, 2564, 4284, 6541, 8244, 9541, 10548, 12548, 12958, 13528, 14567],
                    lineTension: 0,
                    backgroundColor: "transparent",
                    borderColor: "#fae76a",
                    borderWidth: 4,
                    pointBackgroundColor: "#cae4e3",
                },
            ],
        },
        options: {
            scales: {
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: false,
                        },
                    },
                ],
            },
            legend: {
                display: false,
            },
        },
    });</script>

<script>
    // Graph
    var ctx = document.getElementById("myChart2");

    var myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [
                "Januar",
                "feburar",
                "Marts",
                "April",
                "Maj",
                "Juni",
                "Juli",
                "August",
                "September",
                "Oktober",
                "November",
                "December",
            ],
            datasets: [
                {
                    data: [835, 1548, 2564, 4284, 6541, 8244, 9541, 10548, 12548, 12958, 13528, 14567],
                    lineTension: 0,
                    backgroundColor: "transparent",
                    borderColor: "#fae76a",
                    borderWidth: 4,
                    pointBackgroundColor: "#cae4e3",
                },
            ],
        },
        options: {
            scales: {
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: false,
                        },
                    },
                ],
            },
            legend: {
                display: false,
            },
        },
    });</script>
