@using DatabaseAccess.User.Models
@model List<UserMinimalModel>


<h1>Administrér brugere</h1>
<p class="page-description">Her kan du se information om alle brugere i systemet</p>
<div>

</div>

<table class="user-edit" cellspacing="0" cellpadding="0">
    <tr> 
        <th>Navn</th>
        <th>E-mail</th>
        <th>Institution</th>
        <th>Studieretning</th>
        <th>Redigér</th>
    </tr>

    @foreach (UserMinimalModel user in Model)
    {
        <tr>
            <td>@user.FullName</td>
            <td>@user.Email</td>
            <td>@user.Institutions</td>
            <td>@user.FieldsOfStudy</td>
            <td><a asp-controller="User" asp-action="EditOneUser" asp-route-userId="@user.UserId" class="editUserBtn">Rediger bruger</a></td>
        </tr>
    }
</table>

